{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div class="login">

    <form method='POST' action="">
        {% csrf_token %}
        <label> Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter Username">
        <label> Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" value="Log In">

    </form>
    <p> Don't have a account?</p>
    <a href="{%url 'register' %}"> Sign Up</a>
</div>


{% else %}

<div class="register">


    <form method='POST' action="">
        {% csrf_token %}
            {{form.as_p}}
        <input type="submit" value="Sign In">

    </form>
    <p> Already Have a account?</p>
    <a href="{%url 'login_regis' %}"> Log In</a>
</div>

{% endif %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
   {{ message }}
    {% endfor %}
</div>
{% endif %}


{% endblock content %}
